{%extends "home/header.html"%}
{% block content %}

<style>#wrapper {width: 500px;}
#wrapper .container {max-width: 80%; display: block;}</style>
<div id="wrapper">
	<div class="panel panel-primary" style="width = 200px;">
        <div class="panel-heading">Enter the Detail of the Students</div>
        <div class="panel-body">
            <form class = "form-horizontal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'home/form-template.html' %}
                <div class="form-group">
                    <div class = "col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-sucess">Submit</button>

                    </div>

                </div>
            </form>
        </div>

	</div>
</div>

{% endblock %}